@model PagedList.IPagedList<BusinessModelLayer.Vwterritories>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.TerritoryID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TerritoryDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RegionID)
			</td>
			<td>
				@*@Html.ActionLink("Edit", "Edit", "Territories", new { TerritoryID = item.TerritoryID }, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.ActionLink("Edit", "Edit", "Territories", new { TerritoryID = item.TerritoryID, RegionID = item.RegionID }, new { htmlAttributes = new { @class = "form-control" } })
			</td>
			<td>
				@*@Html.ActionLink("Details", "Details", "Territories", new { TerritoryID = item.TerritoryID }, new { htmlAttributes = new { @class = "form-control" } })*@
				@Html.ActionLink("Details", "Details", "Territories", new { TerritoryID = item.TerritoryID, RegionID = item.RegionID }, new { htmlAttributes = new { @class = "form-control" } })
			</td>
			<td>
				@*@Html.ActionLink("Delete", "Delete", "Territories", new { TerritoryID = item.TerritoryID }, new { @class = "btn btn-danger btn-sm" })*@
				@Html.ActionLink("Delete", "Delete", "Territories", new { TerritoryID = item.TerritoryID, RegionID = item.RegionID }, new { @class = "btn btn-danger btn-sm" })
			</td>
		</tr>
	}
</tbody>
<tfoot>
	<tr>
		<th colspan="6">
			<div class="row align-items-center">
				<div class="col-md-auto">
					Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
				</div>
				<div class="col-md-auto">
					@Html.PagedListPager(Model, page => Url.Action("Edit",
						new { ViewBag.PgeSize, ViewBag.RegionID, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
				</div>
				<div class="col-md-auto">Page Size</div>
				<div class="col-md-auto">
					@Html.DropDownList("PgeSize", (IEnumerable<SelectListItem>)ViewBag.PgeSizeList, new { id = "ddpgesize", @class = "form-control btn-group-vertical" })
				</div>
			</div>
		</th>
	</tr>
</tfoot>
		

