@model IEnumerable<BusinessModelLayer.Vwtbl_login>

<!-- ============================================================== -->
<!-- data table  -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Print, Excel, CSV, PDF Buttons</h5>
            <p>You can use the buttons below to export the data to external sources or change the visibility of the columns.</p>
        </div>
        <div class="card-body">


    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered second" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Username)*@
                        @Html.ActionLink("Username", "List", new { ViewBag.PgeSize, sortOrder = ViewBag.UsernameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Password)*@
                        @Html.ActionLink("Password", "List", new { ViewBag.PgeSize, sortOrder = ViewBag.PasswordSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Roles)*@
                        @Html.ActionLink("Roles", "List", new { ViewBag.PgeSize, sortOrder = ViewBag.RolesSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.ActiveStatus)*@
                        @Html.ActionLink("ActiveStatus", "List", new { ViewBag.PgeSize, sortOrder = ViewBag.ActiveStatusSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActiveStatus)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { Username = item.Username })
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { Username = item.Username })
                        </td>
                        <td>
							@Html.ActionLink("Delete", "Delete", new { Username = item.Username }, new { @class = "btn btn-danger btn-sm" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>



        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end data table  -->
<!-- ============================================================== -->



